<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Please register</h1>
    
     <div th:if="${error}" th:inline="text">
        [[${error}]]
    </div>
    
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
    	<p>
			Username: <input type="text" th:field="*{username}" />
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
		</p>
        <p>
			Password: <input type="password" th:field="*{password}" />
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
		</p>
        <p>
			<input type="submit" value="登録" />
		</p>
    </form>
    
    <p>
		<a href="/">ログイン</a>
	</p>
</body>
</html>
